.main-hero {
    max-width: 1400px;
}

.titulo-hero {
    font-size: clamp(2.5rem, 5vw, 5rem); /* Ajusta o tamanho da fonte automaticamente conforme a tela */
    font-weight: 900;
    text-transform: uppercase;
}

/* Efeito de texto vazado (Brutalista) */
.outline-text {
    color: transparent;
    -webkit-text-stroke: 1px var(--acid);
}

.paragrafo-hero {
    line-height: 1.6;
}

/* No seu Main.css */

.image-hero {
    filter: drop-shadow(0 25px 35px rgba(0, 0, 0, 0.08));
    transition: all 0.5s ease;
}
.image-hero:hover {
    transform: scale(1.05) translateY(-10px);
}

/* Garante que o fundo azul acompanhe o estilo premium */
.bg-acid {
    background-color: var(--acid);
}

/* Ajuste para mobile para o fundo não ficar gigante */
@media (max-width: 768px) {
    .rounded-\[60px\] {
        border-radius: 40px;
    }
}

/* Mobile Adjustments */
@media (max-width: 768px) {
    .main-hero {
        text-align: center;
        padding-top: 2rem;
    }

    .titSub, .main-hero div {
        align-items: center;
        text-align: center;
    }

    .titulo-hero {
        font-size: 2.5rem;
    }
    
    .image-hero {
        max-width: 80%;
        margin-top: 2rem;
    }
}